* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Header container styling */
.header-container {
    background-color: #333;
    padding: 20px; /* Add a border around content box */
}

/* Header content and box styling */
.header-content {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between logo and heading title */
    background-color: #0d7011;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

/* Logo image styling */
.logo img{
    width: 50px;
    height: 50px;
    object-fit: contain; /* prevent image distortion due to resizing */
}

/* Store name title styling */
.site-name {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Navigation Styling */
.header-content nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* Navigation Elements Styling */
.header-content nav ul li a {
    color: white;
    text-decoration: none; /* Remove Underline */
    font-weight: bold;
    transition: color 0.2s ease;
}

/* Navigation Elements Hover Styling */
.header-content nav ul li a:hover {
    color: red;
}

/* Navigation Element Styling When Clicked */
.header-content nav ul li a:focus {
    outline: 2px solid red; /* Add a focus outline */
    background-color: rgba(249, 199, 79, 0.2); /* Add a shade over the clicked nav item */
}