* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General inventory list styling */
main .inventory {
    padding: 40px; /* Some extra padding */
    background-color: white;
    min-height: 90vh; /* Ensure that the footer is at the bottom */
}

/* Grid container for displaying items */
main .inventory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Create columns with a min-width of 250px */
    gap: 20px; /* Add spacing between the grid items */
}

/* Styling for the inventory title text */
main .inventory-heading {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
