* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container styling */
/* entire container is a link now so a is needed to indicate link */
.preview-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Evenly space out items on the container */
    background-color: #f9f9f9;
    border: 1px solid #ddd; /* soft grey color */
    border-radius: 8px;
    padding: 20px;
    width: 250px; /* Fixed width for consistent card sizing */
    height: 400px; /* Fixed height for all cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none; /* Keep no underline on hover */
    overflow: hidden; /* Ensure content doesn't overflow, although it really shouldn't */
}

/* Hover effect Styling */
.preview-item a:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Container styling for the recipe image */
.recipe-image {
    width: 100%;
    height: 200px; /* Fixed height for image container */
    object-fit: cover; /* Ensures the image container covers the space without distortion */
}

/* Recipe image styling */
.recipe-image img {
    width: 100%;
    height: 200px; /* Fixed height for image */
    object-fit: cover; /* Ensures the image covers the space without distortion */
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Recipe name styles */
.recipe-name {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
    font-weight: 600;
    text-align: center;
}

/* Servings text styles */
.recipe-servings {
    font-size: 1rem;
    color: #666;
    font-weight: 500;
    text-align: center;
    margin: 10px;
}
